<div class="screen">
  <div class="item header">
    <p class="headline">Url Sanitizer</p>
    
  </div>
  <div class="item leftSide"></div>

      <div class="item input-container">
        <input class="hoverOn" type="text" placeholder="Enter url..." [(ngModel)]="urlInput" required (keydown)="handleKeyDown($event)" />
        <button class="hoverOn btnGo" (click)="sanitizeAndSubmit()" [disabled]="isButtonDisabled">Go</button>
      </div>

  <div class="item rightSide"></div>

  <div class="item content">
   
    @if (isButtonDisabled) {
        <table class="table-container">
          <thead>
            <tr>
              <th><h1>{{flag ? 'Sanitized URL:' : "Originial URL:"}}</h1></th>
              <th><h1>Copy</h1></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>   <p>{{ sanitizedUrl }}</p></td>
        <td><button (click)="copyToClipboard(sanitizedUrl)" class="btnCopy">Copy</button></td>

            </tr>
            </tbody>
          </table>
      }
  </div>
  <div class="item footer"></div>
</div>
